body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
	background: url(/img/logo.svg) no-repeat top right;
	float: right;
	width: 150px;
	min-height: 50px;
}
